footer {
	font-size: .6em;
	position: relative;
	background: var(--color-background);
	color: #fff;

	.container {
		display: flex;
		align-items: stretch;
		justify-content: space-between;

		@media #{$mobile} {
			flex-wrap: wrap;
			padding: 0;
			.copyright {
				flex: 100%;
				order: 1;
				margin: 0 15px 15px;
			}
		}

		& > * {
			display: flex;
			align-items: center;
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	i {
		transform: translateY(0.1em);
		display: inline-block;
		line-height: 1;
	}

	&,
	a {
		color: var(--color-on-background);
	}

	a {
		text-decoration: none;

		&:hover {
			color: #fff;
		}
	}

	ul {
		padding: 0;
		margin: 0;
		display: flex;
		flex-basis: 50%;
		flex-shrink: 1;
		justify-content: flex-start;

		&.footer-right-links {
			justify-content: flex-end;
		}

		@media #{$mobile} {
			flex-basis: auto;
		}

		li {
			list-style: none;
			margin: 15px 0;
			display: inline-block;

			a {
				display: inline-block;
				padding: 5px;

				&:hover {
					text-decoration: none;
				}

				svg {
					fill: #999;
					transition: fill 0.2s ease;
					vertical-align: middle;
					width: 18px;
					height: 18px;
				}

				&:hover svg {
					fill: #fff;
				}
			}
		}
	}

	.copyright {
		margin: 0 auto;
		white-space: nowrap;
		padding-left: 0;
		padding-right: 0;
		margin-left: -5px;

		a {
			color: var(--color-on-background);
		}
	}
}
