nav {
	text-transform: uppercase;
	font-size: .8em;
	position: relative;
	text-shadow: none;
	display: flex;
	flex-shrink: 0;

	@media #{$mobile} {
		flex-grow: 1;
		justify-content: space-around;
	}

	a {
		line-height: normal;
		margin: 0 3px;
		padding: 21px 12px 16px;
		border: 0;
		display: inline-block;
		border-bottom: 5px solid rgba(255,255,255,0);
		color: var(--color-on-hero);

		@media #{$mobile} {
			padding-left: 5px;
			padding-right: 5px;
		}
	}

	a.active {
		border-bottom: 5px solid var(--color-primary);
	}

}
