:root {
	--color-primary: #6ba1f3;
	--color-on-primary: #fff;

	--color-surface: #fff;
	--color-surface-seethrough: rgba(255,255,255,.95);
	--color-surface-dark: #24292e;
	--color-surface-medium: #eaeaea;
	--color-surface-light: #f7f7f7;
	--color-on-surface-100: #ededf0;
	--color-on-surface-200: #999e99;
	--color-on-surface-300: #7c817c;
	--color-on-surface-400: #535353;
	--color-on-surface-500: #1a1b1a;
	--color-on-surface-600: #1d1f1d;
	--color-on-surface-700: #131313;
	--color-on-surface-800: #0b0b0b;
	--color-on-surface-900: #000000;

	--color-surface-border: #cad3cb;
	--color-surface-border-medium: #ededf0;

	--color-background: #2b2b40;
	--color-on-background: #999;

	--color-hero: #333;
	--color-on-hero: #f6f6f6;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-primary: #6ba1f3;
		--color-on-primary: #1a1a1b;

		--color-surface: #222131;
		--color-surface-seethrough: rgba(13, 12, 18, 0.95);
		--color-surface-dark: #2b2b2b;
		--color-surface-medium: #404040;
		--color-surface-light: #555555;
		--color-on-surface-100: #fafcfc;
		--color-on-surface-200: #f5f7f7;
		--color-on-surface-300: #f0f2f2;
		--color-on-surface-400: #e8ebeb;
		--color-on-surface-500: #e0e0e0;
		--color-on-surface-600: #dcdede;
		--color-on-surface-700: #cccfcf;
		--color-on-surface-800: #a7a8a8;
		--color-on-surface-900: #686969;

		--color-surface-border: #1a1a1b;
		--color-surface-border-medium: #282828;

		--color-background: #2d2d2d;
		--color-on-background: #eeeeec;

		--color-hero: #333;
		--color-on-hero: #f6f6f6;
	}
}