---
layout: page
image: false
hero:
  title: Vereinsdokumente
  description: Alle Dokumente und Formulare für unseren Verein sind auf dieser Seite zu finden.
---

<section class="pad"><div class="text-container">
<ul>
<li><a href="Vereinssatzung.pdf">Vereinssatzung</a></li>
<li><a href="Geschäftsordnung.pdf">Geschäftsordnung</a></li>
<li><a href="Beitragsordnung.pdf">Beitragsordnung</a></li>
<li><a href="Mission%20Statement.pdf">Mission Statement</a></li>
<li><a href="Mitgliedsantrag.pdf">Mitgliedsantrag</a></li>
</ul>
<h2 id="protokolle">Protokolle</h2>
<ul>
<li><a href="Gründungsversammlung%20-%20Protokoll.pdf">Gründungsversammlung (23. Januar 2021)</a></li>
</ul>
</div></section>
