<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% seo %}
		{% feed_meta %}

		<link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/touch-icon.png" sizes="192x192">
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon.png">

		<link rel="stylesheet" href="{{ site.baseurl }}/fonts/latolatinfonts.css">
		<link rel="stylesheet" href="{{ site.baseurl }}/fonts/rubikfonts.css">
		<link rel="stylesheet" href="{{ site.baseurl }}/fonts/remixicon.css">
		<link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css">
	</head>

	<body>
		<header id="mainHeader" class="header-background no-transition">
			<div class="container">
				<div class="company-name">
					<a href="{{ site.baseurl }}/">
						<span class="dark-logo"><img width="104" height="38" src="{{ site.baseurl }}/images/logo/dark.svg" alt="dark frisco logo"></span>
						<span class="light-logo"><img width="104" height="38" src="{{ site.baseurl }}/images/logo/light.svg" alt="light frisco logo"></span>
					</a>
				</div>
				{% include navigation.html %}
			</div>
		</header>

		{{ content }}

		<footer>
			<div class="container">
				<ul class="footer-left-links">
					{% for link in site.data.footer.left_links %}
						<li>
							<a {% if link.new_window %}target="_blank"{% endif %} href="{% include relative-src.html src=link.link %}">
								{% if link.icon %}<i class="{{ link.icon }}"></i>
								{% else %}{{ link.name }}
								{% endif %}
							</a>
						</li>
					{% endfor %}
				</ul>
				<p class="copyright"><span>
					<a href="https://codeberg.org/softwerke-magdeburg/website" class="unpadded">Webseiten-Quellcode</a>
					&nbsp; <i class="ri-file-text-fill" title="Lizenz für Inhalt"></i> <a href="https://creativecommons.org/licenses/by-sa/4.0/" class="unpadded">CC BY-SA 4.0</a>
					&nbsp; <i class="ri-paint-brush-fill" title="Lizenz für Template & Konfiguration"></i> <a href="https://opensource.org/licenses/MIT" class="unpadded">MIT License</a>
				</span></p>
				<ul class="footer-right-links">
					{% for link in site.data.footer.right_links %}
					<li>
						<a {% if link.new_window %}target="_blank"{% endif %} href="{% include relative-src.html src=link.link %}">
							{% if link.icon %}<i class="{{ link.icon }}"></i>
							{% else %}{{ link.name }}
							{% endif %}
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</footer>

		<script src="{{ site.baseurl }}/js/main.js"></script>
	</body>
</html>
